
@import "../../node_modules/chota/dist/chota";


$lightGrey: #d2d6dd;

:root{
    --grid-gutter: 0px;
    --color-primary: #0070AF;
}


.wrapper{
    margin: auto;
    max-width: 96rem;
    min-height: 100vh;
    h1{
        margin: 0;
        padding: 3rem;
        text-align: center;
        img{
            width: 50%;
            max-width: 48rem;
        }
    }
    .texts{}
}

.menu{
    left: 1px;
    position: relative;
    margin: 3rem 0 0;
    padding: 0;
    list-style: none;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    li{
        padding: 10px;
        background: $lightGrey;
        box-shadow: 0 0 7px rgba(0,0,0,0.25);
        &.active{
            z-index: 3;
            position: relative;
            background: lighten($lightGrey, 12%);
            border: none;
        }
        label{
            cursor: pointer;
            input{
                margin-right: 1rem;
            }
        }
    }
}

.options{
    --grid-gutter: 1rem;
    .row{
        margin-top: 3rem;
    }
}

.content{
    z-index: 2;
    padding: 3rem;
    background: lighten($lightGrey, 12%);
    box-shadow: 0 0 7px rgba(0,0,0,0.25);
    border-radius: 5px;
    textarea{
        padding: 2rem;
        min-height: 40vh;
        border: none;
    }
    .info{
        margin-top: 1rem;
        line-height: 2rem;
    }
    button.copy{
        margin-top: 1rem;
    }
}

.disclaimer{
    max-width: 640px;
    margin: 5rem auto 0;
    color: #888;
    font-size: 0.8em;
}


/*
    Utils
 */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
